.base-layout {
    min-height: 100vh;
    margin: 0;
    display: grid;
    /* 
        grid-template-rows: auto 1fr auto; 
        header = auto
        main = 1fr
        footer = auto
    */
    grid-template-rows: 1fr auto;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    /* min-height: 50px; */
    text-align: center;
}

.calculator {
    display: flex;
    flex-direction: column;
}

.form-top {
    display: flex;
    justify-content: space-between;
}

.row-to-column {
    display: flex;
    flex-direction: column;
}

.field {
    display: flex;
    flex-direction: row;
}

.form-submit-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



@media only screen and (min-width: 69.375em ) /* min-width:  1110px */ {
    .calculator {
        max-width: 1000px;
        flex-direction: row;
    }

    .form-section {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0;
    }

    .result-section {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0;

        display: flex;
        flex-direction: row;
    }

    .result-empty {
        margin-block: auto;
    }
    

    .row-to-column {
        flex-direction: row;
        justify-content: space-between;
    }
}